{% extends 'dashboard/merchant/base.html' %}
{%load static%}
{%block base%}
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Products</h1>
                <h1 class="page-subhead-line">
                    This is an area where you can see your products you've uploaded to website
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div id="port-folio">
            <div class="row ">
                <ul id="filters">
                    <li><span class="filter active" data-filter="landscape nature awesome">All </span></li>
                    <li><span class="filter active">/</span></li>
                    <li><span class="filter" data-filter="landscape">Mobile Phones</span></li>
                    <li><span class="filter">/</span></li>
                    <li><span class="filter" data-filter="nature">Charger</span></li>
                    <li><span class="filter">/</span></li>
                    <li><span class="filter" data-filter="awesome">Power Bank</span></li>
                    <li><span class="filter">/</span></li>
                    <li><span class="filter" data-filter="landscape">Mobile accesories</span></li>
                </ul>
                <div class="col-md-4 ">

                    <div class="portfolio-item awesome mix_all" data-cat="awesome">


                        <img src="{% static 'merchant-dashboard/assets/img/portfolio/g.jpg' %}" class="img-responsive " alt="" />
                        <div class="overlay">
                            <p>
                                <span>
                                    Image Orinagal Size: 750x500
                                </span>

                                PROJECT TITLE HERE
                            </p>
                            <a class="preview btn btn-info " title="Image Title Here"
                                href="{% static 'merchant-dashboard/assets/img/portfolio/g.jpg' %}"><i
                            class="fa fa-plus fa-2x"></i></a>

                    </div>
                </div>
            </div>


        </div>
    </div>


</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
{%endblock%}