{% extends 'dashboard/merchant/base.html' %}
{%load static%}
{%block base%}
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Product Information</h1>
                <h1 class="page-subhead-line">This is dummy text , you can replace it with your original text.
                </h1>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        ADD PRODUCT DETAILS
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <div class="form-group">
                                        <label>Brand</label>
                                        <input class="form-control" type="text" name="{{form.brand.name}}" required>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" type="text" name="{{form.name.name}}" required>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Upload Image</label>
                                        <input class="form-control" type="file" name="{{form.image.name}}" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input class="form-control" type="number" maxlength="6"
                                            name="{{form.price.name}}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <div class="form-group">
                                        <label>Warrenty</label>
                                        <input class="form-control" type="text" name="{{form.warrenty.name}}"
                                            value="30 Days" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <div class="form-group">
                                        <label>Description</label>
                                        <input class="form-control" type="text" name="{{form.description.name}}"
                                            required>
                                    </div>

                                    <input type="number" name="{{form.seller.name}}" value="{{request.user.id}}" hidden
                                        required>

                                </div>
                            </div>


                            <button type="submit" class="btn btn-info" style="margin-left: 450px;">SAVE
                            </button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}