{% extends 'dashboard/admin/base.html' %}
{%load static%}
{%block base%}


<!-- /. NAV SIDE  -->
<div id="page-inner">
  <div class="row">
    <div class="col-lg-12">
      <h2>MERCHANT DETAILS</h2>
    </div>
  </div>
  <!-- /. ROW  -->
  <hr />

  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table id="myTable" class="table table-striped">
          <thead>

            <tr>
              <th>Username</th>
              <th>E-mail</th>
              <th>Chat Option</th>
            </tr>
          </thead>
          <tbody>
            {% for data in merchant %}
            <tr>
              <td>{{data.username}}</td>
              <td>{{data.email}}</td>
              <td>
                <form action="{% url 'admin-chat' data.email %}">
                  <input type="submit" value="CHAT" style="background-color:red;color: white">
                </form>
              </td>

            </tr>
            {% endfor %}

          </tbody>
        </table>



      </div>
    </div>
  </div>
</div>


{% endblock %}