{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% block base %}

<style>
    .casing {
        width: 700px;
        height: 650px;
        margin: auto;
        padding: 20px;
    }

    .window {
        border: 1px solid #000;
        border-radius: 10px;
        background: #fff;
        width: 100%;
        height: calc(100% - 50px);
        margin: auto;
        padding: 10px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }

    .header {
        background: #ededed;
        padding: 10px;
        margin: -10px -10px 8px -10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }


    .chat {
        background: #72b8ff;
        border-radius: 20px;
        display: inline-block;
        padding: 10px;
        color: #fff;
        font-weight: lighter;
        font-size: small;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
        margin: 5px;
        position: relative;
    }

    .chat.u1 {
        float: left;
        clear: both;
        border-top-left-radius: 0px;
    }

    .chat.u1:before {
        content: "";
        width: 0px;
        height: 0px;
        display: block;
        border-left: 5px solid transparent;
        border-right: 5px solid #72b8ff;
        border-top: 5px solid #72b8ff;
        border-bottom: 5px solid transparent;
        position: absolute;
        top: 0px;
        left: -10px;
    }

    .chat.u2 {
        float: right;
        clear: both;
        border-top-right-radius: 0px;
        background: #00D025;
    }

    .chat.u2:before {
        content: "";
        width: 0px;
        height: 0px;
        display: block;
        border-left: 5px solid #00D025;
        border-right: 5px solid transparent;
        border-top: 5px solid #00D025;
        border-bottom: 5px solid transparent;
        position: absolute;
        top: 0px;
        right: -10px;
    }

    .new-chat {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: #ededed;
        height: 40px;
        left: 0px;
        border-top: 1px solid #ddd;
    }

    .new-chat input {
        outline: none;
        padding: 10px;
        box-sizing: border-box;
        font-size: 18px;
        width: 600px;
        height: 40px;
        border: none;
        display: inline-block;
        color: #999;
        font-weight: 100;
        background: #ddd;
    }

    .new-chat button {
        width: 40px;
        height: 30px;
        padding: 0;
        display: inline-block;
        border: none;
        color: #00D025;
        background: none;
        position: relative;
        top: -3px;
        outline: none;
        cursor: pointer;

    }

    .new-chat button:active {
        color: #555;
    }
</style>



<!-- /. NAV SIDE  -->
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <center>
                <h2>CHAT</h2>
            </center>
        </div>
    </div>
    <!-- /. ROW  -->
    <hr />

    <div class="casing">
        <div class="window">
            <div class="header">{{email}}</div>
            <div class="chats" id="chats">
                {% for message in messages %}
                {% if message.sender == request.user %}
                <span class="u2 chat">{{ message }}</span>
                {% else %}
                <span class="u1 chat">{{ message}}</span>


                {% endif %}
                {% endfor %}
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="new-chat">
                    <input type="text" id="message" name="message">
                    <button id="send">Send</button>
                </div>
            </form>
        </div>
        <div class="home-btn">
            <div class="hb-square"></div>
        </div>
    </div>




</div>
</div>
</div>

<script>
    setInterval(function () {
        location.reload();
    }, 15000);
</script>


{% endblock %}