{% extends 'dashboard/admin/base.html' %}
{%load static%}
{%block base%}

<!-- /. NAV TOP  -->
<div id="page-inner">
  <div class="row">
    <div class="col-lg-12">
      <h2>MERCHANT DETAILS</h2>
    </div>
  </div>
  <!-- /. ROW  -->
  <hr />

  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive" style="overflow-x: auto">
        <table id="myTable" class="table table-striped">
          <thead>

            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Export as PDF</th>
              <th>Approve</th>
            </tr>
          </thead>
          {% for i in sel %}
          <tbody>
            <tr>
              <td>{{i.username}}</td>
              <td>{{i}}</td>
              <form method="post">
                {%csrf_token%}
                <td><input type="submit" name="pdf" value="Export"></td>
                <td>
                  <input type="hidden" value="{{i.id}}" name="id">
                  <input type="submit" value="APPROVE" name="approve">
                </td>
              </form>
            </tr>
            {%endfor%}
          </tbody>

        </table>

      </div>
    </div>
  </div>

  {% endblock %}