{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% block base %}


<!-- /. NAV SIDE  -->
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h2>NOTIFICATION TO MERCHANTS </h2>
        </div>
    </div>
    <!-- /. ROW  -->
    <hr />

    <!-- /. ROW  -->

    <!-- /. PAGE INNER  -->

    <div class="container" style="border:2px solid black;height:500px;width:700px;">
        <center>
            <h3>Notification</h3>
        </center>
        <form method="POST">
            {% csrf_token %}
            <textarea name="message" id="note" rows="10" cols="80"></textarea>
            <center> <input type="submit" class="btn btn-primary" value="Send to All"></center>
        </form>
    </div>
</div>

{% endblock %}