{% extends 'store/base.html' %}
{%load static%}
{%block base%}

<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="{% static 'img/store/img2.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Mobi-Care</span>
                            <h1>Repair Mobile At your Doorstep</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore</p>
                            <a href="#" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                    <div class="off-card">
                        <h2>Sale <span>50%</span></h2>
                    </div>
            </div>
        </div>
            <div class="single-hero-items set-bg" data-setbg="{% static 'img/store/mobile-repair.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Mobi-Care</span>
                            <h1 style='color:white;'>Repair Mobile At your Doorstep</h1>
                            <p style='color:lightgray;'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore</p>
                            <a href="#" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>50%</span></h2>
                    </div>
                </div>
            </div>
    </div>
</section>
    <!-- Hero Section End -->
    <hr>
    <!-- Banner Section Begin -->

    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{% static 'img/store/img5.png' %}" style='height:250px;' alt="">

        </div>
        <p></p>
        <div class="inner-text">
            <center>
                <h4>Repair Mobile Phones</h4>
            </center>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="single-banner">
            <img src="{% static 'img/store/img6.png' %}" style='height:250px;' alt="">

        </div>
        <p></p>
        <div class="inner-text">
            <center>
                <h4>Buy Mobile Phones</h4>
            </center>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="single-banner">
            <img src="{% static 'img/store/img7.png' %}" style='height:250px;' alt="">

        </div>
        <p></p>
        <div class="inner-text ">
            <center>
                <h4>Buy Mobile Accesories </h4>
                <center>
        </div>
    </div>

    </div>
    </div>
    </div>
    <!-- Banner Section End -->
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>STEPS TO REPAIR YOUR MOBILE PHONE</h2>
            </div>
        </div>
    </div>

    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <div class="single-banner">
                        <img src="{% static 'img/store/capture1.png' %}" style='height:150px;' alt="">

                    </div>
                    <p></p>
                    <div class="inner-text">
                        <center>
                            <h4>Tell us about phone that has to be repaired.</h4>
                        </center>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="single-banner">
                        <img src="{% static 'img/store/capture2.png' %}" style='height:150px;' alt="">

                    </div>
                    <p></p>
                    <div class="inner-text">
                        <center>
                            <h4>Book a free pickup </h4>
                        </center>
                    </div>

                </div>

                <div class="col-lg-2">
                    <div class="single-banner">
                        <img src="{% static 'img/store/capture3.png' %}" style='height:150px;' alt="">

                    </div>
                    <p></p>
                    <div class="inner-text">
                        <center>
                            <h4>Our agent will come to pickup your phone.</h4>
                        </center>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="single-banner">
                        <img src="{% static 'img/store/capture4.png' %}" style='height:150px;' alt="">

                    </div>
                    <p></p>
                    <div class="inner-text">
                        <center>
                            <h4>Repair Mobile Phone.</h4>
                        </center>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="single-banner">
                        <img src="{% static 'img/store/capture5.png' %}" style='height:150px;' alt="">

                    </div>
                    <p></p>
                    <div class="inner-text">
                        <center>
                            <h4>Once again checked by technicians before delivery.</h4>
                        </center>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="single-banner">
                        <img src="{% static 'img/store/capture6.png' %}" style='height:150px;' alt="">

                    </div>
                    <p></p>
                    <div class="inner-text ">
                        <center>
                            <h4>Deliver your mobile phone at your doorstep</h4>
                            <center>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>BUY MOBILE PHONES AND ACCESSORIES.</h2>
            </div>
        </div>
    </div>
    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-large set-bg" data-setbg="{% static 'img/store/img4.png' %}">

                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="filter-control">
                        <ul>
                            <li class="active">Mobile Phones</li>
                            <li>Accessories</li>

                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{% static 'img/store/mob2.png' %}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Mobile Phone</div>
                                <a href="#">
                                    <h5>Smasung S9</h5>
                                </a>
                                <div class="product-price">
                                    $300.00
                                    <span>$450.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{% static 'img/store/mob2.png' %}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Mobile Phone</div>
                                <a href="#">
                                    <h5>Smasung S9</h5>
                                </a>
                                <div class="product-price">
                                    $300.00
                                    <span>$450.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="{% static 'img/store/mob2.png' %}" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="#">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">Mobile Phone</div>
                                <a href="#">
                                    <h5>Smasung S9</h5>
                                </a>
                                <div class="product-price">
                                    $300.00
                                    <span>$450.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    <section>
        <div class="benefit-items">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="{% static 'img/store/icon-1.png' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Free Pick-up and delivery</h6>
                            <p> For all repaired products </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="{% static 'img/store/icon-1.png' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Free Shipping</h6>
                            <p>For all order over 99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="{% static 'img/store/icon-1.png' %}" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Secure Payment</h6>
                            <p>100% secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {%endblock%}